*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-size: 16px;
}

.header{
    background-color: black;
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-left: 40px;
}

.headerTitle{
    color:white;
    text-transform: uppercase;
    font-size: 400%;
    font-weight: 400;
}

input.menu-toggle,
.hamburger {
    /*hamburger en menu-toggle checkbox zijn net zo groot en staan over elkaar heen, menu-toggle checkbox bovenaan*/
    position: fixed;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    margin: 0;
    cursor: pointer;
}

.hamburger {
    /*hamburger ligt onder de menu-toggle checkbox*/
    z-index: 99998;
    transition: 0.3s;
    background-color: #fff;
    border: 10px solid #FFF;
    box-sizing: border-box;
    padding-top: 5px;
    border-radius: 50%;/*dit maakt de hamburger button rond*/
}

input.menu-toggle {
    /*menu-toggle checkbox ligt boven alles maar zie je niet, vandaar opacity: 0; */
    z-index: 99999;
    opacity: 0;
}

input.menu-toggle:checked ~ .mainNavList {
    /*het menu schuift naar binnen bij klik op .menu-toggle checkbox*/
    opacity: 100;
    /*volledig zichtbaar*/
    left: 0;
}

.hamburger .bar {
    width: 100%;
    height: 16%;
    padding-top: 16%;
    background-color: #000;
    margin: 16% 0 0 0;
    border-radius: 2px;
    transition: 0.2s;
}

.hamburger:hover,
input.menu-toggle:hover + .hamburger {
    transform: scale(1.05);
}

input.menu-toggle:checked + .hamburger .bar {
    
}

.hamburger .bar1 {
    margin-top: 0;
}

.hamburger .bar2 {
    margin-bottom: 0;
}

.hamburger .bar3 {
    margin-top: -16%;
}

input.menu-toggle:checked + .hamburger .bar1,
input.menu-toggle:checked + .hamburger .bar4 {
    opacity: 0;
}

input.menu-toggle:checked + .hamburger .bar2 {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transform-origin: center center;
}

input.menu-toggle:checked + .hamburger .bar3 {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transform-origin: center center;
}
/******************************************************* navigatie uitgeklapt, als je op het hamburgermenu hebt geklikt */

ul.mainNavList {
    opacity: 0;
    /*volledig transparant*/
    position: fixed;
    top: 0;
    /*menu staat buiten beeld*/
    left: -100vw;
    /*menu is zo breed als een hele pagina, vw = viewport width*/
    width: 100vw;
    /*menu is zo hoog als een hele pagina, vh = viewport height*/
    height: 100vh;
    z-index: 99997;
    /*de menu liggen overal overheen, behalve over de menu-toggle checkbox en het hamburgermenu*/
    background-color: rgba(0, 0, 0, 0.8);
    transition: opacity 1s, left 1s;
}
ul.mainNavList,
ul.mainNavList > li {
    list-style: none;
}
ul.mainNavList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 15px 0 0 0;
}

ul.mainNavList > li {
    flex: 0 1 auto;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid transparent;
    width: 100%;
}

ul.mainNavList a {
    display: block;
    color: #FFF;
    padding: 0 2em;
    text-decoration: none;
    line-height: 3em;
}
/* als je met je muis over een link in het menu gaat (dat heet hover) of als de link de class="selected" heeft */
ul.mainNavList a:hover,
ul.mainNavList a.selected {
    background-color: #000;
    color: #fff;
    text-decoration: none;
}

.bigFigure{
    width: 100%;
    height: 110vh;
}

.bigFigure > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collections{
    width: 100%;
    padding: 40px;
}

.collectionsTitle, .infoTitle{
    font-size: 350%;
    color: black;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 40px; 
}

.collectionsList{
    list-style: none;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.collectionsListItem{
    width: 500px;
    height: 700px;
    flex-shrink: 1;
    flex-grow: 1;
}

.collectionsListItem > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info{
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
}

.block{
    width: 400px;
    flex-shrink: 1;
    flex-grow: 1;
}

.info p {
    max-width: 50ch;
}

.feet{
    background-color: grey;
}

ul{
    display: flex;
    padding: 20px;
    list-style: none;
    justify-content: center;
}

li{
    padding: 10px;
}